aiofiles==25.1.0
aiosqlite==0.22.1
alembic==1.18.4
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
APScheduler==3.11.2
babel==2.18.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
billiard==4.2.4
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.0.post1
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
courlan==1.3.2
cryptography==46.0.6
dateparser==1.4.0
dnspython==2.8.0
EbookLib==0.20
ecdsa==0.19.2
et_xmlfile==2.0.0
fastapi==0.135.2
greenlet==3.3.2
h11==0.16.0
html5lib==1.1
htmldate==1.9.4
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
jusText==3.0.2
kombu==5.6.2
lxml==6.0.2
lxml_html_clean==0.4.4
Mako==1.3.10
MarkupSafe==3.0.3
numpy==2.4.3
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
passlib==1.7.4
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
playwright==1.58.0
prompt_toolkit==3.0.52
pyasn1==0.6.3
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyee==13.0.1
PyMuPDF==1.27.2.2
pypdfium2==5.6.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-jose==3.5.0
python-magic==0.4.27
python-multipart==0.0.22
python-pptx==1.0.2
pytz==2026.1.post1
PyYAML==6.0.3
redis==7.4.0
regex==2026.3.32
rsa==4.9.1
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.48
starlette==1.0.0
structlog==25.5.0
tld==0.13.2
trafilatura==2.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.42.0
uvloop==0.22.1
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.6.0
webencodings==0.5.1
websockets==16.0
whois==1.20240129.2
xlsxwriter==3.2.9
